@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #91E6F9;
}

.width-1-17-width{
  width: 5.8vw;
}

*:focus {
  outline: none;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}